@import "mixins.scss";

:root {
  --scale-r: 1;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #ff6a00;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(45, 49, 56);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  z-index: -12;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -3;

  //backsides
  .background__backsides {
    &-left, &-right {
      @include backsides__all();
    }
    &-left {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="592" height="768" viewBox="0 0 592 768" fill="none"><path d="M451 410.5C268.6 291.7 242.667 83.6667 252.5 -5.5H-67L-34 878L560.397 824.469C599.833 734.21 632.029 528.407 451 410.5Z" fill="%2331353C" fill-opacity="0.8"/></svg>') no-repeat;
      @include backsides(top left);
    }
    &-right {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="488" height="646" viewBox="0 0 488 646" fill="none"><path d="M486.142 645.852C327.642 595.185 8.54195 398.752 0.14195 18.3515C-10.3581 -457.148 565.142 -50.1485 567.142 -23.1485C568.742 -1.54845 513.809 431.852 486.142 645.852Z" fill="%2331353C" fill-opacity="0.501961"/></svg>') no-repeat;
      @include backsides(top right);
    }
  }
  
  // leftKrug
  &__svg-krugLeftBig {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="252" height="252" viewBox="0 0 252 252" fill="none"><circle cx="130.948" cy="120.996" r="120.5" fill="%23FF7F50"/></svg>') no-repeat;
    @include circle(65%, 14%, calc(15vw), calc(15vw));
    z-index: 1;
    }  
    &__svg-krugLeftSmalle {   
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="193" height="193" viewBox="0 0 193 193" fill="none"><circle cx="96.2706" cy="96.3565" r="96" fill="%23F27548"/></svg>') no-repeat;
      @include circle(70.5%, 11.5%, calc(10vw), calc(10vw));
    }  
    &__svg-krugLeftBlur {   
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="252" height="252" viewBox="0 0 252 252" fill="none"><circle cx="130.948" cy="120.996" r="120.5" fill="%23FF7F50"/></svg>') no-repeat;
      @include circle(65%, 14%, calc(15vw), calc(15vw));
      filter: drop-shadow(10px -10px 50px rgba(255, 127, 80, 1));
      opacity: 50%;
    }

    // rightKrug
    &__svg-krugRightBig {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="252" height="252" viewBox="0 0 252 252" fill="none"><circle cx="130.948" cy="120.996" r="120.5" fill="%23FF7F50"/></svg>') no-repeat;
      @include circle(40%, 84%, calc(15vw), calc(15vw));
      z-index: 1;
      }  
      &__svg-krugRightSmalle {   
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="193" height="193" viewBox="0 0 193 193" fill="none"><circle cx="96.2706" cy="96.3565" r="96" fill="%23F27548"/></svg>') no-repeat;
        @include circle(33.5%, 87.5%, calc(10vw), calc(10vw));
      }  
      &__svg-krugRightBlur {   
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="252" height="252" viewBox="0 0 252 252" fill="none"><circle cx="130.948" cy="120.996" r="120.5" fill="%23FF7F50"/></svg>') no-repeat;
        @include circle(40%, 84%, calc(15vw), calc(15vw));
        filter: drop-shadow(10px -10px 50px rgba(255, 127, 80, 1));
        opacity: 50%;
      }

    
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50.70000000000000002%;
  width: 400px;
  height: 400px;
  background-color: rgb(57,62,70);
  border-radius: 20px;
  padding: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  
  form {
    display: flex;
    flex-direction: column;  
    input {
      margin: 16px 20px;
      padding: 20px;
      font-size: 19px;
      border: none;
      border-radius: 17px;
      outline: none;
    }  
    button {
      padding: 1vw;
      font-size: 1rem;
      background-color: #ff6a00;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #e55a00;
      }
    }
  }

  .links {
    margin-top: 2vw;
    a {
      color: #ff6a00;
      text-decoration: none;
      margin: 0 1vw;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --scale-r: 0.8;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --scale-r: 0.6;
  }
}